@import '~antd/dist/antd.css';

.App {
    padding: 0 32px;
}

.search_container {
    display: flex;
    margin-bottom: 32px;
    margin-top: 32px;
    
}

.search_selector {
    width: 150;
    margin-left: 24px;
}

.search_name {
    color: #1890ff;
    cursor: pointer;
}